
<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel ="stylesheet",type="text/css",href="potepan.css">
  <script src="js/smooth-scroll.polyfills.min.js"></script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TR5BGK5');</script>
  <!-- End Google Tag Manager -->
<body>


  <header>
    <a href ="#"><img src=""Desktop\potepan\asset\img\header-logo.png" alt="POTEPAN CAMP"></a>

    <ul class = header_navi>
      <li><a href="#"><span>ABOUT</span><span>初めての方へ</span></a></li>
      <li><a href="#"><span>FLOW</span><span>卒業までの流れ</span></a></li>
      <li><a href="#"><span>COURSE</span><span>コース・料金</span></a></li>
      <li><a href="#"><span>INTERVIEW</span><span>受講者の声</span></a></li>
      <li><a href="#"><span>FAQ</span><span>よくある質問</span></a></li>
      <li><a href="#"><span>COMPANY</span><span>会社概要</span></a></li>
      <li class = btn>無料カウンセリング</li>
    </ul>
  </header>

<main>
  <div class="top">
    <h1>コース・料金</h1>
  </div>

  <div class="about_course">
    <h1>POTEPAN CAMPコースについて</h1>
    <img src="icon-line" alt="">

    <p>POTEPAN CAMPでは複数のコースをご用意しており、</p>
    <p>受講いただく方のこれまでのご経歴を元に最適なコースをご案内しております。</p>

    <p class = under-line>実務経験がないが、今後エンジニアとしてのキャリアを形成していきたい方</p>
    <p class = under-line>実務経験はあるがブランクが長く、まずは最新の技術動向も思い出したい方</p>
    <p class = under-line>独学で勉強しているが、今一自身のスキルに自信を持つことが出来ない方</p>

    <p>様々な背景を持った方をこれまで受け入れてきた実績があります。</p>
    <p>実際のコース決定は社内のカウンセリング担当と行いますのでご安心ください。</p>
  </div>

  <div class="course-point">
    <img src="heading-icon" alt="">
    <h2>全コースの共通POINT</h2>
  </div>

  <div class="topic1">
    <p class = "topic_anouncement">現役のエンジニアがレビューを実施！</p>
    <img src="detail-cassette-image03" alt="">
    <p class = "topic_sum_up">現場で通用する開発スキルを習得</p>
  </div>

  <div class="topic2">
    <p>オンラインで受講できる！</p>
    <img src="detail-cassette-image01" alt="">
    <p class = "topic_sum_up">いつでもどこでも受講可能</p>
  </div>

  <div class="topic3">
    <p>就職支援が充実！</p>
    <img src="detail-cassette-image02" alt="">
    <p class = "topic_sum_up">あなたに合った企業に就業</p>
  </div>

  <div class="course_anouncement">
    <table>
      <tr>
        <th><img src="footer-potepanda" alt=""></th>
        <th><span>選抜クラス</span>
          "キャリアコース"
        </th>
        <th><span>選抜クラス</span>
          "ビギナーコース"
        </th>
        <th>"オープンクラス"</th>
      </tr>

      <tr>
        <td>"受講内容"</td>
        <td>
          <li><span>・</span>Web開発実践</li>
          <li><span>・</span>品質にこだわる超実践</li>
        </td>
        <td>
          <li><span>・</span>Web開発基礎</li>
          <li><span>・</span>Web開発実践</li>
          <li><span>・</span>品質にこだわる超実践</li>
        </td>
        <td>
          <li><span>・</span>Web開発基礎</li>
          <li><span>・</span>Web開発実践</li>
        </td>
      </tr>

      <tr>
        <td>"転職支援"</td>
        <td><img src="icon-circle" alt=""></td>
        <td><img src="icon-circle" alt=""></td>
        <td><img src="icon-circle" alt=""></td>
      </tr>

      <tr>
        <td>"受講費キャッシュバック"</td>
        <td><img src="icon-circle" alt=""></td>
        <td><img src="icon-circle" alt=""></td>
        <td><img src="icon-line" alt=""></td>
      </tr>

      <tr>
        <td>"受講期間"</td>
        <td><span>３</span>"ヶ月"</td>
        <td><span>４</span>"ヶ月"</td>
        <td><span>２</span>"ヶ月"</td>
      </tr>

      <tr>
        <td>"応募条件"</td>
        <td><span>・</span>"Railsチュートリアルと他Web開発の基礎を学習済みの方"</td>
        <td><span>・</span>"Web開発の基礎を学習済みの方"</td>
        <td><span>・</span>"Macbookを持っている方"</td>
      </tr>

      <tr>
        <td>"価格"</td>
        <td>"￥ ２５０，０００"</td>
        <td>"￥ ３００，０００"</td>
        <td>"￥ １００，０００"</td>
      </tr>
    </table>
  </div>

  <div class="course_plan_title,under_bar">
    <h2>コースプラン</h2>
    <ul>
      <li><a href="#"><img src="icon-arrow" alt=""><p>選抜クラス</p><span>キャリアコース</span></a></li>
      <li><a href="#"><img src="icon-arrow" alt=""><p>選抜クラス</p><span>ビギナーコース</span></a></li>
      <li><a href="#"><img src="icon-arrow" alt=""><p>オープンクラス</p></a></li>
    </ul>
  </div>


  <div class="course_plan">
    <h3>選抜クラスキャリアコース</h3>
    <p>selection class - carrier course -</p>


    <div class="course_carrior">
      <div class="course_topic1">
        <h4><img src="heading-icon" alt="">こんな方にお勧め</h4>
        <ul>
          <li><span>・</span>Webエンジニアを目指している方</li>
          <li><span>・</span>Web開発輝度とRailsチュートリアルを学習済みの方</li>
        </ul>
      </div>



      <dl class="course_topic2">
        <h4><img src="heading-icon" alt="">コース概要</h4>

        <dt><img src="icon-pencil" alt="">受講内容</dt>
          <dd>実践的な課題開発を3ヶ月間行って頂きます。
            Ruby on Railsを使用したアプリケーションを複数構築して、複数の現役エンジニア講師からレビューをしてもらい、メンテナビリティを意識した
            開発を身につけていきます。</dd>

        <dt><img src="icon-pc" alt="">受講期間</dt>
          <dd>3ヶ月間(13週)</dd>

        <dt><img src="icon-condition" alt="">応募条件</dt>
          <dd>Railsチュートリアルと他Web開発の基礎を学習済みの方</dd>

        <dt><img src="icon-coin" alt="">受講料金</dt>
          <dd>250,000円(税抜)</dd>
          <dd>※ポテパン経由で仕事が決まると全額キャッシュバック！</dd>

        <dt><img src="icon-pc" alt="">開発環境</dt>
          <dd>HTML CSS JavaScript Ruby Ruby on Rails Rspec Docker heroku rubocop PostgreSQL Solidus Git Bitbucket Slack</dd>
    </dl>

    <div class="course_topic3">
      <h5><img src="heading-icon" alt="">課題フロー</h5>

      <div class="course_topic3_01">
        <h6><span>01</span>サブ課題</h6>

        <figure>
          <div class="flow_img">
            <img src="course-2" alt="">
          </div>
          <figcaption>開発要件を記載したドキュメントを見て、実際にゼロからRailsアプリケーションを作成して頂きます。
          基本的な形でエラーのないWebアプリケーションが作成できているかレビュアーがチェックしていきます。</figcaption>
        </figure>
      </div>

      <div class="courese_topic_02">
        <h6><span>02</span>本課題</h6>
        <figure>
          <div class="flow_img">
            <img src="course-1" alt="">
          </div>
          <figcaption>Rails製のOSSを用いてECサイトを開発していきます。
          OSSのコードを読み、仕様を把握してECサイトを構築していきます。
        ただ、動くだけではなくメンテナビリティを意識した開発を行っていきます。</figcaption>
        </figure>
      </div>
    </div>

  </div>

  <div class="course_begginer">
    <div class="course_topic1">
      <h4><img src="heading-icon" alt="">こんな方にお勧め</h4>
      <ul>
        <li><span>・</span>Webエンジニアを目指している方</li>
        <li><span>・</span>独学(スクールや教材)でWeb開発基礎を学習済みの方</li>
      </ul>
    </div>



    <dl class="course_topic2">
      <h4><img src="heading-icon" alt="">コース概要</h4>

      <dt><img src="icon-pencil" alt="">受講内容</dt>
        <dd>キャリアコースの内容に加え1か月間Ruby on Railsチュートリアルの学習が付いているコースになります。
        動画教材が非常にわかりやすくRailsの理解を深めるのに非常におすすめです。
      <span>※POTEPAN CAMPは、Ruby on Railsチュートリアルと正式に提携しております。</span></dd>

      <dt><img src="icon-pc" alt="">受講期間</dt>
        <dd>4ヶ月間(17週)</dd>

      <dt><img src="icon-condition" alt="">応募条件</dt>
        <dd>Web開発の基礎を学習済みの方</dd>

      <dt><img src="icon-coin" alt="">受講料金</dt>
        <dd>300,000円(税抜)</dd>
        <dd>※ポテパン経由で仕事が決まると全額キャッシュバック！</dd>

      <dt><img src="icon-pc" alt="">開発環境</dt>
        <dd>HTML CSS JavaScript Ruby Ruby on Rails Rspec Docker heroku rubocop PostgreSQL Solidus Git Bitbucket Slack</dd>
  </dl>

  <div class="course_topic3">
    <h5><img src="heading-icon" alt="">課題フロー</h5>

        <div class="course_topic3_01">
          <h6><span>01</span>Rails学習</h6>

          <figure>
            <div class="flow_img">
              <img src="course-3" alt="">
            </div>
            <figcaption>Ruby on Railsチュートリアルの動画教材を用いて学習を行っていきます。
            動画でわからない点があれば質問をご利用ください。Railsアプリの基本をマスターしましょう。</figcaption>
          </figure>
        </div>

    <div class="course_topic3_01">
      <h6><span>02</span>サブ課題</h6>

      <figure>
        <div class="flow_img">
          <img src="course-2" alt="">
        </div>
        <figcaption>開発要件を記載したドキュメントを見て、実際にゼロからRailsアプリケーションを作成して頂きます。
        基本的な形でエラーのないWebアプリケーションが作成できているかレビュアーがチェックしていきます。</figcaption>
      </figure>
    </div>

    <div class="courese_topic3_03">
      <h6><span>03</span>本課題</h6>
      <figure>
        <div class="flow_img">
          <img src="course-1" alt="">
        </div>
        <figcaption>Rails製のOSSを用いてECサイトを開発していきます。
        OSSのコードを読み、仕様を把握してECサイトを構築していきます。
      ただ、動くだけではなくメンテナビリティを意識した開発を行っていきます。</figcaption>
      </figure>
    </div>
  </div>

  </div>

  <div class="course_open">
    <div class="course_topic1">
      <h4><img src="heading-icon" alt="">こんな方にお勧め</h4>
      <ul>
        <li><span>・</span>オンライン学習で本格的なWebアプリを作れるようになりたい方</li>
        <li><span>・</span>プログラミングを用いてWebサービスを運営したい方</li>
        <li><span>・</span>プログラミング未学習の方もしくは始めたばかりの方</li>
      </ul>
    </div>



    <dl class="course_topic2">
      <h4><img src="heading-icon" alt="">コース概要</h4>

      <dt><img src="icon-pencil" alt="">受講内容</dt>
        <dd>Webアプリ開発に必要な要素を全体的に学び、実践的な開発まで行います。
        分かりやすい教材を用いているのでオンラインでも非常に学びやすくなっております。
      最後は実際にWebアプリを開発しレビュアーにチェックしてもらいます。</dd>

      <dt><img src="icon-pc" alt="">受講期間</dt>
        <dd>2ヶ月間(9週)</dd>

      <dt><img src="icon-condition" alt="">応募条件</dt>
        <dd>Mackbookを持っている方</dd>

      <dt><img src="icon-coin" alt="">受講料金</dt>
        <dd>100,000円(税抜)</dd>
  </dl>

  <div class="course_topic3">
    <h5><img src="heading-icon" alt="">課題フロー</h5>

    <div class="course_topic3_01">
      <h6><span>01</span>基礎学習</h6>

      <figure>
        <div class="flow_img">
          <img src="course-4" alt="">
        </div>
        <figcaption>分かりやすい教材を用いてWeb開発の基礎を学習します。
          HTML,CSS,JavaScript,Ruby,Ruby on Rails Git コマンドラインを触るところから始まります。
        特にマークアップやRubyのスキルを高めていきます。</figcaption>
      </figure>
    </div>

    <div class="courese_topic_02">
      <h6><span>02</span>Rails学習</h6>
      <figure>
        <div class="flow_img">
          <img src="course-3" alt="">
        </div>
        <figcaption>Ruby on Railsチュートリアルの動画教材を用いて学習を行っていきます。
        動画でわからない点があれば質問をご利用ください。Railsアプリの基本をマスターしましょう。</figcaption>
      </figure>
    </div>

    <figure>
      <div class="flow_img">
        <img src="course-2" alt="">
      </div>
      <figcaption>開発要件を記載したドキュメントを見て、実際にゼロからRailsアプリケーションを作成して頂きます。
      基本的な形でエラーのないWebアプリケーションが作成できているかレビュアーがチェックしていきます。</figcaption>
    </figure>
    </div>
  </div>

</div>

  <div class="graduate">
    <h2　class = graduate_title,under_bar>受講生の声</h2>

    <div class="graduate_1">
      <a href="#"><img src="graduate20200204" alt="">
        <p class = graduate_comment>優秀な方が集まると聞いてレベルの高い教育が受けられると思い受講しました！現場経
    　   験のあるエンジニアの方から厳しく見てもらえるというのがよかったです！</p>
      </a>
    </div>

    <div class="graduate_2">
      <a href="#"><img src="熱田さん" alt="">
        <p　class = graduate_comment>プログラミング完全未経験からSaaSプロダクトのRubyエンジニアに転職成功しました！
      全くの異業種からのエンジニア転職でしたがポテパンキャンプの課題に取り組むことで大きく力をつけました！</p>
    </a>

    <div class="graduate_3">
      <a href="#"><img src="トワールさん" alt="">
        <p　class = graduate_comment>ポテパンキャンプ卒業後に、転職サイトを複数運営する企業に
        Rubyエンジニアとして転職されたT.Rさん。入社後、実際に業務をしてみてポテパンで学んだことが存分に活かされていると言っていただきました！</p>
    </a>

    </div>
  </div>

  <footer>
    <div class="footer_wrapper">
      <div class="footer_main">
          <a href="#">
          <img src="footer-logo" alt="POTEPAN CAMP">
          </a>

          <p>株式会社ポテパン</p>

          <p>〒150-0002</p>
          <p>東京都渋谷区渋谷２ー２ー５</p>
          <p>クルスビル7階</p>

          <a href="#"><img src="footer-social-facebook" alt=""></a>
          <a href="#"><img src="footer-social-twitter" alt=""></a>

          <p class = footer_copyright>©2016-2019 POTEPAN.INC.</p>
      </div>

      <div class="footer_sub">
        <ul>
          <li><a href="#"><span>ABOUT</span>初めての方へ</a></li>
          <li><a href="#"><span>FLOW</span>卒業までの流れ</a></li>
          <li><a href="#"><span>COURSE</span>コース・料金</a></li>
          <li><a href="#"><span>INTERVIEW</span>受講者の声</a></li>
          <li><a href="#"><span>FAQ</span>よくある質問</a></li>
          <li><a href="#"><span>COMPANY</span>会社概要</a></li>
        </ul>
        <img src="footer-potepanda" alt="">

      </div>

    </div>
  </footer>

</main>
